@model IEnumerable<CouponDTO>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Lista de Cupons</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-action="Create" class="btn btn-outline-primary">
                    <i class="bi bi-plus-square"></i> Criar Novo Cupom
                </a>
            </div>
        </div>

        @if (!Model.Any())
        {
            <div class="alert alert-warning text-center">
                Nenhum cupom encontrado.
            </div>
        }
        else
        {
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Código do Cupom</th>
                            <th>Valor do Desconto</th>
                            <th>Valor Mínimo</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CouponCode</td>
                                <td>@item.DiscountAmount.ToString("C")</td>
                                <td>@(((decimal)(item.MinAmount ?? 0)).ToString("C"))</td>
                                <td>
                                    <a asp-action="Delete" asp-route-couponId="@item.CouponId" class="btn btn-danger">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
